/*-- scss:defaults --*/
$body-bg: #333333 !default;
$body-color: #ff0;
$link-color: white;
$font-family-sans-serif: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", "Marker Felt", "Purisa", "URW Chancery L", cursive, sans-serif;
$font-family-monospace: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", "Marker Felt", "Purisa", "URW Chancery L", cursive, sans-serif;

$code-block-bg: #00f;

$navbar-bg: #333333;
$navbar-fg: #0f0;
$navbar-hl: #0f0;

$callout-color-note: #00f;
$callout-color-warning: #ff0;
$callout-color-important: #f00;
$callout-color-tip: #0a0;
$callout-color-caution: orange;
/*-- scss:rules --*/